.recipe-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-modal-content {
  width: 85%;
  max-height: 85vh;
  background: white;
  border-radius: 12px;
  padding: 25px;
  overflow-y: auto;
}

.recipe-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
}

.section-title {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.recipe-item {
  margin-left: 20px;
  list-style: disc;
}

.recipe-step {
  margin: 8px 0;
  padding-left: 5px;
}

.recipe-line {
  margin: 5px 0;
}
